<div class="main-wrapper py-3 px-0">
  <div class="upper-container">
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/logo.png" />
        <div class="mt-2">
          <p class="mb-0">Awesome grocery store website template</p>
          <p class="mb-0">
            <i class="fa-solid fa-location-dot"></i>
            Address: 5171 W Campbell Ave undefined Kent, Utah 53127 United
            States
          </p>
          <p class="mb-0">
            <i class="fa-solid fa-headphones"></i>Call Us:(+91) - 540-025-124553
          </p>
          <p class="mb-0">
            <i class="fa-regular fa-paper-plane"></i>
            Email:sale@Nest.com
          </p>
          <p>
            <i class="fa-regular fa-clock"></i>Hours:10:00 - 18:00, Mon - Sat
          </p>
        </div>
      </div>
      <div class="col-2">
        <h3>Company</h3>
        <p>About Us</p>
        <p>Delivery Information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
        <p>Support Center</p>
        <P>Careers</P>
      </div>
      <div class="col-2">
        <h3>Account</h3>
        <p>Sign In</p>
        <p>View Card</p>
        <p>My Wishlist</p>
        <p>Track My Order</p>
        <p>Help Ticket</p>
        <p>Shipping Details</p>
        <P>Compaire products</P>
      </div>
      <div class="col-2">
        <h3>Corporate</h3>
        <p>Become a Vendor</p>
        <p>Affilate Program</p>
        <p>Farm Business</p>
        <p>Farm Careers</p>
        <p>Our Suppliers</p>
        <p>Accessibillity</p>
        <p>Promotions</p>
      </div>
      <div class="col-2">
        <h3>Popular</h3>
        <p>Milk & Flavoured Milk</p>
        <p>Butter and Margarine</p>
        <p>Eggs Substitutes</p>
        <p>Marmalades</p>
        <p>Sour Cream and Dips</p>
        <p>Chese</p>
      </div>
      <div class="col-3">
        <h3>Install App</h3>
        <div class="mt-5 appComponet d-flex">
          <img src="../../../assets/appStore.png" />
          <img class="ms-2" src="../../../assets/googleStore.png" />
        </div>
        <p class="mt-5">Secured Payment Gateways</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="d-sm-block d-none">
    <div class="d-flex justify-content-between">
      <div class="about d-flex align-items-center">
        <p class="mb-0">
          © 2022, <span>Nest</span> - HTML Ecommerce Template All rights
          reserved
        </p>
      </div>
      <div class="d-flex" style="width: 600px">
        <div class="d-flex contact align-items-center">
          <img src="../../../assets/call.png" />
          <div class="ms-2">
            <h1 class="mb-0">1900 - 6666</h1>
            <p class="mb-0">Working 8:00 - 22:00</p>
          </div>
        </div>
        <div class="d-flex contact ms-5 align-items-center">
          <img src="../../../assets/call.png" />
          <div class="ms-2">
            <h1 class="mb-0">1900 - 8888</h1>
            <p class="mb-0">24/7 Support Cente</p>
          </div>
        </div>
      </div>
      <div class="social d-flex align-items-center">
        <div>
          <div>
            <span>Follow Us</span>
            <span
              ><i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-youtube"></i>
            </span>
          </div>
          <p class="mb-0">Up to 15% discount on your first subscribe</p>
        </div>
      </div>
    </div>
  </div>
</div>
