<div class="d-none d-sm-block">
  <div class="container d-flex justify-content-between top-header pt-2">
    <div>
      <span>About us |</span>
      <span>My Account |</span>
      <span>My Wishlist |</span>
      <span>Order Trakking |</span>
    </div>
    <div>
      <span>100% Secure delivery without contacting the courier</span>
    </div>
    <div>
      <span>Need help? Call Us:<span class="special">+ 1800 900</span> |</span>
      <select>
        <option>English</option>
        <option>Hindi</option>
      </select>
      <select class="ms-2">
        <option>USD</option>
        <option>Hindi</option>
      </select>
    </div>
  </div>
</div>
<div class="header-wrapper">
  <hr class="m-0 mt-2" />
  <div class="d-block d-sm-none">
    <div class="d-flex justify-content-between align-items-center px-2">
      <input type="checkbox" id="check" />
      <label class="checkbtn" for="check"><i class="fas fa-bars"></i></label>
      <img
        style="width: 90px; height: 40px"
        class="logo"
        src="../../../assets/logo.png"
      />
      <div>
        <img style="width: 18px; height: 18px" src="../../../assets/Hart.png" />
        <img
          class="ms-2"
          style="width: 18px; height: 18px"
          src="../../../assets/card.png"
        />
      </div>
      <ul class="px-4 py-3">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#1">About</a></li>
        <li><a href="#2">Contact</a></li>
        <li><a href="#3">Projects</a></li>
      </ul>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="container d-flex justify-content-between">
      <div>
        <img class="logo" src="../../../assets/logo.png" />
      </div>
      <div class="searchBar d-flex align-items-center">
        <select>
          <option>All categories</option>
        </select>
        <div class="d-flex justify-content-between w-100 pe-3">
          <input class="ps-3" type="text" placeholder="search for items" />
          <img src="../../../assets/searchIcon.svg" />
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="locationSearch px-2">
          <img src="../../../assets/location.png" />
          <span class="ms-2">Your location</span>
          <img class="ms-2" src="../../../assets/downArrow.png" />
        </div>
        <div class="d-flex">
          <div class="header-options ms-4 d-flex align-items-end">
            <img src="../../../assets/rotationArrow.png" />
            <span>Compair</span>
          </div>
          <div class="header-options ms-3 d-flex align-items-end">
            <img src="../../../assets/Hart.png" />
            <span>Wishlist</span>
          </div>
          <div class="header-options ms-3 d-flex align-items-end">
            <img src="../../../assets/card.png" />
            <span>Card</span>
          </div>
          <div class="header-options ms-3 d-flex align-items-end">
            <img src="../../../assets/user.png" />
            <span>Account</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0 mb-1" />
</div>
<div class="d-none d-sm-block">
  <div class="container d-flex justify-content-between mt-2 mb-3">
    <div class="d-flex align-items-center">
      <div
        class="allCategorySelect d-flex justify-content-center align-items-center"
      >
        <img src="../../../assets/cube.png" />
        <select class="ms-1">
          <option>Browse All Categories</option>
        </select>
      </div>
      <div class="deals ms-3 d-flex align-items-center">
        <img src="../../../assets/hotIcon.png" />
        <p class="ms-2 mt-1 mb-0">Deals</p>
      </div>
      <div class="ms-3">
        <select
          style="color: #3bb77e; border: none; outline: none; font-weight: 700"
        >
          <option>Home</option>
        </select>
      </div>
      <div class="ms-3">
        <span style="color: #253d4e; font-weight: 700">About</span>
      </div>
      <div class="ms-3">
        <select
          style="border: none; color: #253d4e; outline: none; font-weight: 700"
        >
          <option>Shop</option>
        </select>
      </div>
      <div class="ms-3">
        <select
          style="color: #253d4e; border: none; outline: none; font-weight: 700"
        >
          <option>Vendors</option>
        </select>
      </div>
      <div class="ms-3">
        <select
          style="color: #253d4e; border: none; outline: none; font-weight: 700"
        >
          <option>Mega menu</option>
        </select>
      </div>
      <div class="ms-3">
        <select
          style="color: #253d4e; border: none; outline: none; font-weight: 700"
        >
          <option>Blog</option>
        </select>
      </div>
      <div class="ms-3">
        <select
          style="color: #253d4e; border: none; outline: none; font-weight: 700"
        >
          <option>Pages</option>
        </select>
      </div>
      <div class="ms-3">
        <span style="color: #253d4e; font-weight: 700">Contact</span>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <img
          style="height: 38px; width: 36px"
          src="../../../assets/headphone.png"
        />
      </div>
      <div class="ms-2">
        <h3
          class="mb-0"
          style="
            font-family: Quicksand;
            font-size: 26px;
            font-weight: 700;
            line-height: 26px;
            text-align: left;
            color: #3bb77e;
          "
        >
          1900 - 888
        </h3>
        <p
          style="
            font-family: Lato;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0.8999999761581421px;
            text-align: left;
            color: #7e7e7e;
          "
          class="m-0"
        >
          24/7 Support Center
        </p>
      </div>
    </div>
  </div>
  <hr class="m-0 mb-1" />
</div>
