<div class="card category py-2 px-4" style="width: 298px">
  <h3 class="text-center">Category</h3>
  <div class="d-flex">
    <hr class="mb-0" style="color: aqua; width: 40%" />
    <hr class="mb-0" style="width: 60%" />
  </div>
  <div
    class="category-option px-2 mt-3 d-flex align-items-center justify-content-between"
    style="width: 236px; height: 50px"
  >
    <div>
      <img src="../../../assets/category.png" />
      <span class="ms-2">Milks & Dairies</span>
    </div>
    <span class="count">3</span>
  </div>
  <div
    class="category-option px-2 mt-3 d-flex align-items-center justify-content-between"
    style="width: 236px; height: 50px"
  >
    <div>
      <img src="../../../assets/category.png" />
      <span class="ms-2">Clothing</span>
    </div>
    <span class="count">4</span>
  </div>
  <div
    class="category-option px-2 mt-3 d-flex align-items-center justify-content-between"
    style="width: 236px; height: 50px"
  >
    <div>
      <img src="../../../assets/category.png" />
      <span class="ms-2">Pat foods</span>
    </div>
    <span class="count">5</span>
  </div>
  <div
    class="category-option px-2 mt-3 d-flex align-items-center justify-content-between"
    style="width: 236px; height: 50px"
  >
    <div>
      <img src="../../../assets/category.png" />
      <span class="ms-2">Baking material</span>
    </div>
    <span class="count">8</span>
  </div>
  <div
    class="category-option px-2 mt-3 d-flex align-items-center justify-content-between"
    style="width: 236px; height: 50px"
  >
    <div>
      <img src="../../../assets/category.png" />
      <span class="ms-2">Fresh fruit</span>
    </div>
    <span class="count">10</span>
  </div>
</div>
