<div class="mb-3">
  <div
    class="main-wrapper d-flex align-items-center py-5"
    [style.background-image]="'url(' + imageUrl + ')'"
  >
    <div class="side-header">
      <h1>{{ heading }}</h1>
      <p class="mt-4">{{ subHeading }}</p>
      <div
        class="subscribe-wrapper d-flex justify-content-between align-items-center mt-5"
      >
        <div>
          <input class="ms-4" type="text" placeholder="enter your email" />
        </div>
        <div
          class="subscribe-button d-flex justify-content-center align-items-center"
        >
          <span> Subscribe </span>
        </div>
      </div>
    </div>
  </div>
</div>
